<%- include ('./../elements/header.ejs') %>

    <body>
        <div class="container-fluid center-me">
            <div class="row">
                <div class="col-md-1 bg-dark">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column text-center">
                            <div class="row py-4"></div>
                            <a href="/home" class="navbar-brand">
                                <img id="logo" style="margin-left: -0.1px; margin-bottom: 1rem;"
                                    src="/assets/Rectangle 5.svg">
                            </a>
                            <a class="nav-item nav-link" style="color: #fff;" href="/ihone">Admin</a>
                            <div class="row py-5"></div>
                            <div class="row py-5"></div>
                            <div class="row py-5"></div>
                            <div class="row py-5"></div>
                            <div class="row py-5"></div>
                            <div class="row py-5"></div>
                            <div class="row py-3"></div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="container lista-de-cards">
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Editar o imóvel</h5>
                                        <button id="closeButton" type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row py-1">
                                            <div class="col-md-10">
                                                <label for="" style="font-size:medium; font-weight:600;">Título</label>
                                                <input id="txtTitulo" class="form-control" type="text" placeholder="">
                                            </div>
                                            <div class="col-md-2">
                                                <label for="id_imovel" class="invisible" style="font-size:medium; font-weight:600;">Id
                                                    Imóvel</label>
                                                <input id="id_imovel" class="form-control invisible" type="text" placeholder=""
                                                    readonly="true" disabled>
                                            </div>
                                        </div>
                                        <div class="row py-1">
                                            <div class="col-md-12">
                                                <label for=""
                                                    style="font-size:medium; font-weight:600;">Descrição</label>
                                                <input id="txtDescricao" class="form-control" type="text"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="row py-1">
                                            <div class="col-md-3">
                                                <label for="" style="font-size:medium; font-weight:600;">Rua</label>
                                                <input id="txtRua" class="form-control" type="text" placeholder="">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="" style="font-size:medium; font-weight:600;">Bairro</label>
                                                <input id="txtBairro" class="form-control" type="text" placeholder="">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="" style="font-size:medium; font-weight:600;">Cidade</label>
                                                <input id="txtCidade" class="form-control" type="text" placeholder="">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="" style="font-size:medium; font-weight:600;">Número</label>
                                                <input id="txtNumero" class="form-control" type="text" placeholder="">
                                            </div>
                                        </div>
                                        <div class="row py-1">
                                            <div class="col-md-3">
                                                <label for="" style="font-size:medium; font-weight:600;">Área</label>
                                                <input id="txtArea" class="form-control" type="text" placeholder="">
                                            </div>
                                            <div class="col-md-2">
                                                <label for="" style="font-size:medium; font-weight:600;">Condomínio</label>
                                                <input id="txtCondominio" class="form-control" type="text" placeholder="">
                                            </div>
                                            <div class="col-md-2">
                                                <label for="" style="font-size:medium; font-weight:600;">Quartos</label>
                                                <input id="txtQuarto" class="form-control" type="text" placeholder="">
                                            </div>
                                            <div class="col-md-2">
                                                <label for="" style="font-size:medium; font-weight:600;">Suítes</label>
                                                <input id="txtSuites" class="form-control" type="text" placeholder="">
                                            </div>
                                            <div class="col-md-3">
                                                <label for=""
                                                    style="font-size:medium; font-weight:600;">Banheiros</label>
                                                <input id="txtBanheiros" class="form-control" type="text"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="row py-1">
                                            <div class="col-md-3">
                                                <label for="" style="font-size:medium; font-weight:600;">Vagas</label>
                                                <input id="txtVagas" class="form-control" type="text" placeholder="">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="" style="font-size:medium; font-weight:600;">Tipo do
                                                    Imóvel</label>
                                                <input id="txtTipo" class="form-control" type="text" placeholder="">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="" style="font-size:medium; font-weight:600;">Valor</label>
                                                <input id="txtValor" class="form-control" type="number" placeholder="">
                                            </div>
                                            <div class="col-md-3">
                                                <label for=""
                                                    style="font-size:medium; font-weight:600;">Finalidade</label>
                                                <select id="txtFinalidade" class="form-select"
                                                    aria-label="Default select example">
                                                    <option id="finalityVender" value="Vender">Venda</option>
                                                    <option id="finalityAlugar" value="Alugar">Aluguel</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row py-1">
                                            <div clas="container-fluid center-me">
                                                <div class="row py-2">
                                                    <div class="col-md-12">
                                                        <label for=""
                                                            style="font-size:medium; font-weight:600;">Gerenciador de
                                                            fotos</label>
                                                        <input type="file" multiple id="img-input" accept="image/" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12" style="border: 1px solid #D4D4D4;">
                                                    <div class="container lista-fotos">
                                                        <div class="lista-fotos" id="fotosimovel">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                                            onclick="imovelDelete()">Delete</button>
                                        <button type="button" class="btn btn-primary"
                                            onclick="sendUpdate()">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% for (imovel of imoveis) { %>
                            <div class="card mb-4 box-shadow">
                                <img src="<%=imovel.photos[0]?.codepic%>" class="card-img-top"
                                    style="height: 225px; width: 100%; display:block" alt="">
                                <div class="card-body">
                                    <p class="card-text" style="font-size: 24px; font-weight:700;">
                                        <%=imovel.title%>
                                    </p>
                                    <p class="card-text" style="font-size: 24px;">
                                        <% var formatter=new Intl.NumberFormat('pt-BR', { style: 'currency' ,
                                            currency: 'BRL' , }) %>
                                            <%= formatter.format(imovel.price) %>
                                    </p>
                                    <a style="text-decoration: none;"
                                        onclick="modalComplete(<%=imovel.idimovel%>, <%=imovel.price%>,`<%=imovel.title%>`,`<%=imovel.description%>`,`<%=imovel.district%>`,`<%=imovel.street%>`,`<%=imovel.city%>`,`<%=imovel.house_number%>`,<%=imovel.area%>,`<%=imovel.monthly_payment%>`,<%=imovel.bedrooms%>,<%=imovel.suites%>,<%=imovel.bathrooms%>,<%=imovel.garages%>,`<%=imovel.finality%>`,`<%=imovel.imovel_type%>`,<%=JSON.stringify(imovel.photos)%>)"
                                        data-toggle="modal" data-target="#exampleModalLong">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icone-svg" viewBox="0 0 512 512">
                                            <path
                                                d="M421.7 220.3l-11.3 11.3-22.6 22.6-205 205c-6.6 6.6-14.8 11.5-23.8 14.1L30.8 511c-8.4 2.5-17.5 .2-23.7-6.1S-1.5 489.7 1 481.2L38.7 353.1c2.6-9 7.5-17.2 14.1-23.8l205-205 22.6-22.6 11.3-11.3 33.9 33.9 62.1 62.1 33.9 33.9zM96 353.9l-9.3 9.3c-.9 .9-1.6 2.1-2 3.4l-25.3 86 86-25.3c1.3-.4 2.5-1.1 3.4-2l9.3-9.3H112c-8.8 0-16-7.2-16-16V353.9zM453.3 19.3l39.4 39.4c25 25 25 65.5 0 90.5l-14.5 14.5-22.6 22.6-11.3 11.3-33.9-33.9-62.1-62.1L314.3 67.7l11.3-11.3 22.6-22.6 14.5-14.5c25-25 65.5-25 90.5 0z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <div class="row py-2 fixed-bottom ">
                        <div class="col-md-10"></div>
                        <div class="col-md-2 d-flex justify-content-end">
                            <a style="text-decoration: none;" href="" onclick="modalCreate()" data-toggle="modal"
                                data-target="#exampleModalLong">
                                <svg xmlns="http://www.w3.org/2000/svg" style="width: 3rem;" viewBox="0 0 512 512">
                                    <path
                                        d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                                </svg>
                            </a>
                            <span>&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        async function modalCreate() {
            $("#id_imovel").val(-1)
            $("#txtTitulo").val("")
            $("#txtDescricao").val("")
            $("#txtRua").val("")
            $("#txtBairro").val("")
            $("#txtCidade").val("")
            $("#txtNumero").val("")
            $("#txtArea").val(0)
            $("#txtQuarto").val(0)
            $("#txtSuites").val(0)
            $("#txtBanheiros").val(0)
            $("#txtVagas").val(0)
            $("#txtTipo").val("")
            $("#txtValor").val(0)

            document.getElementById("fotosimovel").innerHTML = ""   
        }

        function modalComplete(idimovel, price, title, description, district, street, city, house_number, area, monthly_payment, bedrooms, suites, bathrooms, garages, finality, imovel_type, photos) {
            console.log(photos)
            $("#id_imovel").val(idimovel)
            $("#txtTitulo").val(title)
            $("#txtDescricao").val(description)
            $("#txtRua").val(street)
            $("#txtBairro").val(district)
            $("#txtCidade").val(city)
            $("#txtNumero").val(house_number)
            $("#txtArea").val(area)
            $("#txtQuarto").val(bedrooms)
            $("#txtSuites").val(suites)
            $("#txtBanheiros").val(bathrooms)
            $("#txtVagas").val(garages)
            $("#txtTipo").val(imovel_type)
            $("#txtValor").val(price)
            $("#txtCondominio").val(monthly_payment)

            var divImovel = document.getElementById("fotosimovel")  
            divImovel.innerHTML = ""       

            for(photo of photos){
                var img = document.createElement("img");

                img.src = photo.codepic;

                img.className = "fotos-admin";

                var src = divImovel;

                src.appendChild(img);
            }
            document.getElementById("fotosimovel")

            if ($("#txtFinalidade").val() == "Vender") {
                $("#finalityVender").attr("selected", "selected")
            } else {
                $("#finalityVender").attr("selected", "selected")
            }
        }


        let listaFotos = []
            
        document.getElementById("img-input").addEventListener("change", async (e) => {
            //console.log(e.target.files[0])
            for(let file of e.target.files)
            {
                // await toBase64(e.target.files[0]).then((res) => { listaFotos.push(res) })
                listaFotos.push(file)
            }
        });

        async function sendUpdate() {
            const idImovel = $("#id_imovel").val()
            
        let formdata = new FormData
        formdata.append("price", parseFloat($("#txtValor").val())),                
        formdata.append("title", $("#txtTitulo").val()),               
        formdata.append("description", $("#txtDescricao").val()),               
        formdata.append("district", $("#txtBairro").val()),               
        formdata.append("street", $("#txtRua").val())
        formdata.append("city", $("#txtCidade").val()),               
        formdata.append("house_number", $("#txtNumero").val()),               
        formdata.append("area", parseFloat($("#txtArea").val())),               
        formdata.append("monthly_payment", parseFloat($("#txtCondominio").val())),               
        formdata.append("bedrooms", parseInt($("#txtQuarto").val())),               
        formdata.append("suites", parseInt($("#txtSuites").val())),               
        formdata.append("bathrooms", parseInt($("#txtBanheiros").val())),               
        formdata.append("garages", parseInt($("#txtVagas").val())),               
        formdata.append("imovel_type", $("#txtTipo").val()),               
        formdata.append("finality", $("#txtFinalidade").val()) 
        for(let arquivo in listaFotos){
            formdata.append(`foto${arquivo}`, listaFotos[arquivo], listaFotos[arquivo].name)
        }
        
            let response = {}
            if (idImovel == -1) {
                // response = await axios.post(`/imov`, formdata)             
                response = await axios({
                    method: "post",
                    url: "/imov",
                    data:formdata,
                    headers: { "Content-Type": "multipart/form-data"},
                })
                window.location.reload(true);
                window.alert("O imóvel foi cadastrado com sucesso!")
            } else {
                response = await axios({
                    method: "put",
                    url: `/imov/${idImovel}`,
                    data:formdata,
                    headers: { "Content-Type": "multipart/form-data"},
                })
                window.location.reload(true);
                window.alert("As informações do imóvel foram atualizadas com sucesso!")
            }
            // console.log(response)
        }

        async function imovelDelete() {
            const idImovel = $("#id_imovel").val()
            const response = await axios.delete(`/imov/${idImovel}`)
            console.log(response)
            window.location.reload(true);
            window.alert("Este imóvel foi deletado com sucesso!")
        }


    </script>