<%- include ('./../elements/header.ejs') %>

    <body>
        <%- include ('./../elements/navbar.ejs') %>
            <div class="fundo-azul img-fluid" id="inicio">
                <div class="container-fluid center-me">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-2"
                            style="color: #FFF; font-size: 20px; font-family: 'Lucida Sans'; font-weight: 100;">Encontre
                            seu imóvel
                            <img src="/assets/lupa.svg" width="20" height="20">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="bloco-filtro p-3 col-md-6 bg-light rounded-4">
                            <form action="/imoveis" method="get" class="container-fluid py-2">
                                <div class="row py-1 d-flex justify-content-around">
                                    <div class="col-md-4 mb-2">
                                        <select name="imovel_type" class="form-select" aria-label="Default select example">
                                            <option name="imovel_type" value="" disabled selected hidden>Tipo do Imóvel</option>
                                            <option name="imovel_type" value="Apartamento">Apartamento</option>
                                          </select>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <select name="city" class="form-select" aria-label="Default select example">
                                            <option value="" disabled selected hidden>Cidade</option>
                                            <% for (city of cities) { %>
                                                <option name="city" value="<%=city%>"><%=city%></option>
                                            <% } %>

                                        </select>
                                    </div>
                                    <div class="col-md-4 mt-1">
                                        <select name="finality" class="form-select" aria-label="Default select example">
                                            <option value="" disabled selected hidden>Finalidade</option>
                                            <option name="finality" value="Vender">Venda</option>
                                            <option name="finality" value="Alugar">Aluguel</option>
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="row py-1 d-flex justify-content-around">
                                    <div class="col-md-4 mt-1">
                                        <input name="area_min" class="form-control" type="text" placeholder="área mínima">
                                    </div>
                                    <div class="col-md-4 mt-1">
                                        <input name="area_max" class="form-control" type="text" placeholder="área máxima">
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <input name="bedrooms" class="form-control" type="text" placeholder="N° de dormitórios">
                                    </div>
                                </div>
                                <div class="row py-1 d-flex justify-content-around">
                                    <div class="col-md-4 mt-2">
                                        <input name="value_min" class="form-control" type="text" placeholder="valor mínimo">
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <input name="value_max" class="form-control" type="text" placeholder="valor máximo">
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <button class="btn btn-secondary" id="btnBuscar" aria-haspopup="true" aria-expanded="false">Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
            <div class="container-fluid center-me">
                <div class="container-fluid py-3 pt-md-5 pb-md-4 mx-auto text-left">
                    <div class="row d-flex justify-content-between">
                        <div class="col-1"></div>
                        <div class="col-md-2 py-3 text-center" style="margin-left: -3%;">
                            <nobr><label style="font-size:35px; font-weight:600;">Nossos Imóveis</label></nobr>
                        </div>
                        <div class="col-md-7"></div>
                        <div class="col-1"></div>
                        <div class="col-1"></div>
                    </div>
                </div>
                <div class="container lista-de-cards">
                    <% for (imovel of imoveis) { %>
                        <a class="texto-card" href="/imovel/<%=imovel.idimovel%>" target="_blank">
                            <div class="card mb-4 box-shadow">
                                <img src="<%=imovel.photos[0]?.codepic%>" class="card-img-top" style="height: 225px; width: 100%; display:block" alt="">
                                <div class="card-body">
                                    <p class="card-text" style="font-size: 24px; font-weight:700;">
                                        <%=imovel.district%>
                                    </p>
                                    <p class="card-text">
                                        <%=imovel.city%>
                                    </p>
                                    <p class="card-text">
                                        <%=imovel.title%>
                                    </p>
                                    <p class="card-text" style="font-size: 24px;">
                                        <% var formatter = new Intl.NumberFormat('pt-BR', { 
                                             style: 'currency', 
                                            currency: 'BRL',
                                         }) %>
                                        <%= formatter.format(imovel.price) %>
                                    </p>
                                </div>
                            </div>
                        </a>
                    <% } %>
                </div>
            </div>
            <%- include ('./../elements/footer.ejs') %>
    </body>